<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>
    <h3>My Custom Login Page</h3>
    <!-- ${pageContext.request.contextPath} give us access to context path dynamically -->
    <form action='/authenticateTheUser' method='POST'>
        <p>
            Username:
            <input type='text' name='username' />
            <!-- Spring Security Filters will read form data and authenticate the user -->
        </p>
        <p>
            Password:
            <input type='password' name='password' />
        </p>

        <input type='submit' value='Login' />
    </form>
</body>
</html>